<div class="header clearfix">
  <nav>
    <ul class="nav nav-pills center-pills">
      <strong><%= link_to "Radoslav Genchev", root_path, class: 'navbar-brand text-muted' %></strong>
      <%= nav_helper 'nav-link', 'span' %>
      <%= login_helper 'nav-link' %>
    </ul>
    
  </nav>
  
</div>