<footer class="blog-footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <div class="copyright">
                    <%= copyright_generator %>
                </div>
            </div>
        </div>
    </div>
</footer>
