<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Me</h1>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile_image.jpg", width: 200, alt: "profile image", class: 'rounded-circle img-fluid' %>
    </div>
  
    <div class="col-md-8 text-left about-info">
      <p>I'm</p>
      <ul>
        <li>a wantrepreneur and a full-stack web developer</li>
        <li>doing my best to write clean and efficient code in order to create beautiful apps</li>
        <li>constantly thinking of new ideas</li>
        <li>always trying to define problems and corresponding solutions to them</li>
        <li>also really passionate about launching startups, creating meaningful and valuable products, which can enrich the people around us</li>
        <li>doing charity and voluntary work, because it is a must</li>
      </ul>
    </div>
  </div>
</div>