<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>About Me</h1>
    </div>
  </div>
  
  <hr>

  <div class="row">
    <div class="col-md-4">
      <%= image_tag "profile_image.jpg", width: 200, alt: "profile image", class: 'rounded-circle img-fluid' %>
    </div>
  
    <div class="col-md-8">
      <p>I'm a wantrepreneur and a full-stack web developer, who is constantly thinking of new ideas. Always trying to define problems and corresponding solutions to them is my top priority. I'm also really passionate about launching startups, creating meaningful and valuable products, which can enrich the people around us. Doing charity and voluntary work is a must.
      </p>
    </div>
  </div>
</div>