<div class="app-card-container text-center">
  <div class="card">
    <div class="row">
      <div class="col-md-12">
        <h1>Contact</h1>
      </div>
    </div>
    
    <br>
    
    <div class="row">
      <div class="col-md-12">
    
        
        <h3>Email:</h3>
    
        <p>r.genchew@gmail.com</p>
      </div>
    </div>
  </div>
</div>
  
  
