<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
        <h1>Welcome to the guild!</h1>
        <p>
          <span class="element"></span>
        </p>
        <p>
          <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
        </p>
    </div>
  </div>
</div>